.balance {
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.balance__name {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: var(--color-light-text-alt);
    text-transform: uppercase;
    line-height: 10px;
    margin: 0 0 4px 0;
}

.balance__value {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: var(--color-green);
    text-transform: uppercase;
    line-height: 24px;
    margin: 0;
}