.balance {
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.balance__name {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: var(--color-light-text);
    text-transform: uppercase;
    line-height: 10px;
    margin: 0 0 4px 0;
}

.balance__value {
    display: inline;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: transparent;
    text-shadow: 0 0 8px rgba(81, 207, 102, 1);
    text-transform: uppercase;
    line-height: 24px;
    margin: 0;
}

.balance__value:hover {
    color: var(--color-green);
    text-shadow: none;
}