.button {
    box-sizing: border-box;
    display: block;
    min-width: 168px;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}

.button--small {
    min-width: auto;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 10px;
    letter-spacing: 0.6px;
}

.button--half {
    width: calc(50% - 12px);
}

.button--primary {
    color: #ffffff;
}

.maze .button--primary {
    background-color: var(--color-light-maze);
}

.fleeca .button--primary {
    background-color: var(--color-light-fleeca);
}

.button--secondary {
    color: var(--color-light-text);
    background-color: var(--color-dark-icon-bg);
}

.dark .button--secondary {
    color: var(--color-dark-text);
    background-color: var(--color-dark-icon-bg);
}

.maze.dark .button--primary {
    background-color: var(--color-dark-maze);
}

.fleeca.dark .button--primary {
    background-color: var(--color-dark-fleeca);
}

.button--delete {
    color: #ffffff;
    background-color: var(--color-light-down);
}

.dark .button--delete {
    color: #ffffff;
    background-color: var(--color-dark-down);
}