.button {
    box-sizing: border-box;
    display: block;
    width: auto;
    height: auto;
    padding: 16px 24px;
    background-color: var(--color-red);
    border: none;
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    color: var(--color-dark-text);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}