.button {
    box-sizing: border-box;
    display: block;
    width: 200px;
    height: 48px;
    cursor: pointer;
    font-family: inherit;
}

.button--primary {
    border: none;
    background-color: var(--color-red);
}

.button--secondary {
    border: 2px solid var(--color-red);
}

.button__label {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-dark-text);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button--secondary > .button__label {
    color: var(--color-red);
}