.icon {
    box-sizing: border-box;
    display: block;
    width: 48px;
    height: 48px;
    background-color: var(--color-light-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    border: 1px solid var(--color-light-divider);
}

.icon--filled {
    background-color: var(--color-red);
    border: none;
}

.icon--small {
    width: 36px;
    height: 36px;
    background-size: 16px;
}

.icon--no-bg {
    background-color: transparent;
    border: none;
}

.icon--add {
    background-image: url("/src/assets/images/add.svg");
}

.icon--delete {
    background-image: url("/src/assets/images/delete.svg");
}

.icon--paste {
    background-image: url("/src/assets/images/paste-form.svg");
}

.icon--palm-tree {
    background-image: url("/src/assets/images/palm-tree.svg");
}

.icon--person {
    background-image: url("/src/assets/images/person.svg");
}

.icon--police {
    background-image: url("/src/assets/images/police.svg");
}

.icon--bank {
    background-image: url("/src/assets/images/bank.svg");
}

.icon--button {
    cursor: pointer;
}

.icon--button:hover {
    background-color: #FFE3E3;
    border: 1px solid #FFC9C9;
}

.icon--filled:hover {
    background-color: #FF8787;
    border: none;
}

