.icon-box {
    box-sizing: border-box;
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    background-color: var(--color-light-bg);
}

.icon-box__icon {
    box-sizing: border-box;
    display: block;
    width: 24px;
    height: auto;
    color: var(--color-light-text-alt);
    margin: auto;
}