.icon {
    box-sizing: border-box;
    display: block;
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    border: none;
}

.icon--secondary {
    background-color: var(--color-dark-bg);
}

.icon--negative-mr {
    margin-right: -12px;
}

.icon--clickable {
    cursor: pointer;
}

.icon--hidden {
    display: none;
}

.icon--small {
    width: 36px;
    height: 36px;
    background-size: 16px;
}

.icon--add {
    background-image: url("/src/assets/images/add.svg");
}

.icon--delete {
    background-image: url("/src/assets/images/delete.svg");
}

.icon--paste {
    background-image: url("/src/assets/images/paste-form.svg");
}

.icon--palm-tree {
    background-image: url("/src/assets/images/palm-tree.svg");
}

.icon--person {
    background-image: url("/src/assets/images/person.svg");
}

.icon--police {
    background-image: url("/src/assets/images/police.svg");
}

.icon--bank {
    background-image: url("/src/assets/images/bank.svg");
}

.maze .icon--primary {
    background-color: var(--color-light-maze);
}

.fleeca .icon--primary {
    background-color: var(--color-light-fleeca);
}

.maze.dark .icon--primary {
    background-color: var(--color-dark-maze);
}

.fleeca.dark .icon--primary {
    background-color: var(--color-dark-fleeca);
}

.dark .icon--secondary {
    background-color: var(--color-dark-icon-bg);
}
