.icon-button {
    box-sizing: border-box;
    display: inline-flex;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 9999px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon-button:hover {
    background-color: var(--color-light-divider);
}

.icon-button__icon {
    box-sizing: border-box;
    display: block;
    width: 16px;
    height: auto;
    margin: auto;
    color: var(--color-light-text-alt);
}