.log {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-light-divider);
}

.log:last-child {
    border: none;
}

.log__header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: auto;
    cursor: pointer;
    list-style: none;
}

.log__body {
    box-sizing: border-box;
    padding-top: 8px;
}

.log__icon {
    margin-right: 16px;
}

.log__icon,
.log__amount {
    flex: 0 0 auto;
}

.log__info {
    flex: 1 1 0%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.log__entity {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-light-text);
    line-height: 1;
    margin: 0 0 8px 0;
}

.log__date {
    box-sizing: border-box;
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-light-text-alt);
    line-height: 1;
}

.log__amount {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    margin: 5px 0 0 0;
}

.log__amount--up {
    color: var(--color-green);
}

.log__amount--down {
    color: var(--color-red);
}

.log__reference-label {
    box-sizing: border-box;
    display: inline;
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-light-text);
    line-height: 20px;
}

.log__reference {
    box-sizing: border-box;
    display: inline;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-light-text-alt);
    line-height: 20px;
}
