.paper {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: var(--color-light-fg);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-radius: 4px;
}

.paper--h-full {
    height: 100%;
}

.paper--mt-auto {
    margin-top: auto;
}

.paper__header {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 16px;
    border-bottom: 1px solid var(--color-light-spinner-track);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: var(--color-light-text-alt);
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin: 0;
}

.paper__body {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 16px;
}