.row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    height: auto;
}

.row--h-full {
    height: 100%;
}

.row--align-center {
    align-items: center;
}

.row__section {
    flex: 1 1 0%;
}

.row__section--fixed {
    flex: 0 0 auto;
}

.row__section--align-right {
    text-align: right;
}