.row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    height: auto;
}

.row--margin {
    margin-bottom: 24px;
}

.row--align-end {
    align-items: flex-end;
}

.row__section {
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.row__section--fluid {
    flex: 1 1 0%;
}

.row__section--fixed {
    flex: 0 0 auto;
}
