.swift {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color-light-divider);
}

.swift:last-child {
    border: none;
}

.swift__section {
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
}

.swift__section--align-right {
    text-align: right;
}

.swift__name {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-light-text);
    line-height: 1;
    margin: 0 0 8px 0;
}

.swift__code {
    box-sizing: border-box;
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-light-text-alt);
    line-height: 1;
}
