.swift {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color-light-border);
}

.swift--clickable {
    cursor: pointer;
}

.swift:last-child {
    border: none;
}

.swift__section {
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.swift__section--right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.swift__accordion {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: auto;
}

.swift__name {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-light-text);
    line-height: 20px;
    margin: 0;
}

.swift__name--margin {
    margin-bottom: 6px;
}

.swift__code {
    box-sizing: border-box;
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-light-text-alt);
    line-height: 1;
}

.swift__button {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    left: -8px;
    transform: translateX(-100%);
}

.dark .swift {
    border-bottom: 1px solid var(--color-dark-border);
}

.dark .swift:last-child {
    border: none;
}

.dark .swift__name {
    color: var(--color-dark-text);
}

.dark .swift__code {
    color: var(--color-dark-text-alt);
}
