.table {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

.table__body {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.table__row {
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-light-divider);
}

.dark .table__row {
    border-bottom: 1px solid var(--color-dark-divider);
}

.table__row:last-child {
    border: none;
}

.table__cell {
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
}

.table__cell--large {
    padding-top: 16px;
    padding-bottom: 16px;
}

.table__cell--right {
    text-align: right;
}

.table__cell--top {
    vertical-align: top;
}