.text {
    box-sizing: border-box;
    display: block;
    margin: 0;
}

.text--tab {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-light-text-alt);
}

.dark .text--tab {
    color: var(--color-dark-text-alt);
}

.text--title {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: var(--color-light-text-alt);
    margin-bottom: 4px;
}

.dark .text--title {
    color: var(--color-dark-text-alt);
}

.text--balance {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    color: var(--color-light-text);
}

.dark .text--balance {
    color: var(--color-dark-text);
}

.text--normal {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-light-text);
}

.text--green {
    color: var(--color-green);
}

.dark .text--green {
    color: var(--color-green);
}


