.text {
    margin: 0;
}

.text--section {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: var(--color-light-text-alt);
}

.text--number {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--color-light-text);
    text-transform: uppercase;
}

.text--name {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: var(--color-light-text);
}

.text--green {
    color: var(--color-green);
}