.button {
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.button--text {
    display: block;
    min-width: 168px;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
}

.button--mr {
    margin-right: -9px;
}

.button--large-icon {
    display: flex;
    width: 48px;
    height: 48px;
}

.button--small-icon {
    display: flex;
    width: 36px;
    height: 36px;
}

.button__icon {
    box-sizing: border-box;
    margin: auto;
}

.button--large-icon > .button__icon {
    width: 24px;
    height: 24px;
}

.button--small-icon > .button__icon {
    width: 18px;
    height: 18px;
}

/*------------------------------------*\
  #Button-primary
\*------------------------------------*/

.button--primary {
    background-color: var(--color-bank);
    color: #fff;
}

.button--primary:focus-visible {
    outline: 2px solid var(--color-bank);
    outline-offset: 3px;
}

.button--primary > .button__icon {
    color: #fff;
}

/*------------------------------------*\
  #Button-secondary
\*------------------------------------*/

.button--secondary {
    color: var(--color-bank);
}

.button--secondary:focus {
    outline: 2px solid var(--color-bank);
}

/*------------------------------------*\
  #Button-disabled
\*------------------------------------*/

.button--disabled {
    background-color: var(--color-border);
    color: var(--color-text-alt);
}

.button--disabled > .button__icon {
    color: var(--color-text-alt);
}

/*------------------------------------*\
  #Button-subtle
\*------------------------------------*/

.button--subtle > .button__icon {
    color: var(--color-text-alt);
}

.button--subtle:hover {
    background-color: var(--color-border);
}

.button--subtle:hover > .button__icon {
    color: #fff;
}

/*------------------------------------*\
  #Button-success
\*------------------------------------*/

.button--success {
    background-color: var(--color-up);
}

.button--success > .button__icon {
    color: #fff;
}

/*------------------------------------*\
  #Button-error
\*------------------------------------*/

.button--error {
    background-color: var(--color-down);
}

.button--error > .button__icon {
    color: #fff;
}
