.filter {
    display: block;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 32px;
    text-align: left;
    cursor: pointer;
    color: var(--color-text-alt);
}

.filter:hover {
    background-color: var(--color-border);
    color: var(--color-text);
}

.filter--active {
    color: var(--color-border);
}

.filter--active:hover {
    background-color: transparent;
    color: var(--color-border);
}