.notification {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 12px;
    margin-bottom: 24px;
}

.notification--success {
    background-color: var(--color-up);
}

.notification--error {
    background-color: var(--color-down);
}

.notification__icon {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
    background-color: rgba(0, 0, 0, 0.15);
    margin-right: 16px;
}

.notification--success .notification__icon {
    background-image: url("/src/images/success.svg");
}

.notification--error .notification__icon {
    background-image: url("/src/images/error.svg");
}

.notification__title {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.notification__description {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.75);
}