@import "styles/app.css";
@import "styles/balance.css";
@import "styles/button.css";
@import "styles/column.css";
@import "styles/dropdown.css";
@import "styles/favorite-account.css";
@import "styles/filter.css";
@import "styles/form.css";
@import "styles/grid.css";
@import "styles/log.css";
@import "styles/notification.css";
@import "styles/paper.css";
@import "styles/section.css";
@import "styles/tab.css";
@import "styles/toggle-button.css";
@import "styles/top-app-bar.css";
@import "styles/view.css";

:root {
    --color-bg: #F3F5F6;
    --color-fg: #ffffff;
    --color-text: #495057;
    --color-text-alt: #868e96;
    --color-text-placeholder: #adb5bd;
    --color-border: #e9ecef;
    --color-border-on-bg: #dee2e6;
    --color-scrollbar-track: #ced4da;
    --color-scrollbar-thumb: #dee2e6;
    --color-icon-bg: #f1f3f5;
    --color-button-secondary: #e9ecef;
    --color-toggle-button-track: #e9ecef;
    --color-toggle-button-track-focus: #ced4da;
    --color-toggle-button-icon: #9299A0;
    --color-toggle-button-icon-active: #f59f00;
    --color-up: #20c997;
    --color-down: #d6336c;
    --color-fleeca: #40c057;
    --color-maze: #ff6b6b;
}

:root.dark {
    --color-bg: #121417;
    --color-fg: #191C1F;
    --color-text: #CED4DA;
    --color-text-alt: #868E96;
    --color-text-placeholder: #5D666F;
    --color-border: #22262A;
    --color-border-on-bg: #22262A;
    --color-scrollbar-track: #1A1B1E;
    --color-scrollbar-thumb: #272B30;
    --color-icon-bg: #272B30;
    --color-button-secondary: #272B30;
    --color-toggle-button-track: #383D43;
    --color-toggle-button-track-focus: #495057;
    --color-toggle-button-icon: #868E96;
    --color-toggle-button-icon-active: #fcc419;
    --color-up: #0ca678;
    --color-down: #f06595;
    --color-fleeca: #37b24d;
    --color-maze: #c92a2a;
}

html {
    font-family: "Red Hat Display", sans-serif;
}

body {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

.maze body {
    background: radial-gradient(#ffa8a8, #c92a2a);
}

.fleeca body {
    background: radial-gradient(#8ce99a, #2b8a3e);
}

