:root {
    --color-dark-screen: #1A1B1E;
    --color-dark-bg: #121417;
    --color-dark-fg: #191C1F;
    --color-dark-text: #CED4DA;
    --color-dark-text-alt: #868E96;
    --color-dark-border: #22262A;
    --color-dark-border-on-bg: #272B30;
    --color-dark-scrollbar-track: #1A1B1E;
    --color-dark-scrollbar-thumb: #272B30;
    --color-dark-icon-bg: #272B30;
    --color-dark-icon-bg-filled: ;

    --color-light-screen: #ffffff;
    --color-light-bg: #f1f3f5;
    --color-light-fg: #ffffff;
    --color-light-text: #495057;
    --color-light-text-alt: #868e96;
    --color-light-border: #22262A;
    --color-light-border-on-bg: #272B30;
    --color-light-scrollbar-track: #e9ecef;
    --color-light-scrollbar-thumb: #495057;
    --color-light-icon-bg: #22262A;
    --color-light-icon-bg-filled: ;

    --color-red: #ff6b6b;
    --color-light-red: #FFC9C9;
    --color-green: #51cf66;
    --color-beach: #FFF3BF;
}

html {
    font-family: "Red Hat Display", sans-serif;
}
