:root {
    --color-dark-bg: #212529;
    --color-dark-fg: #343a40;
    --color-dark-text: #f8f9fa;
    --color-dark-text-alt: #adb5bd;
    --color-dark-divider: #495057;
    --color-dark-spinner-track: #868e96;

    --color-light-bg: #f1f3f5;
    --color-light-fg: #f8f9fa;
    --color-light-text: #495057;
    --color-light-text-alt: #868e96;
    --color-light-divider: #e9ecef;
    --color-light-divider-alt: #dee2e6;
    --color-light-spinner-track: #dee2e6;

    --color-red: #FF6B6B;
    --color-light-red: #FFC9C9;
    --color-green: #51cf66;
    --color-beach: #FFF3BF;
}

html {
    font-family: "Red Hat Display", sans-serif;
}
